body{
    font-family: 'Roboto' sans-serif;
    background-color: rgb(244,235,255);
}
h1{
    color: rgb(90, 14, 161);
    font-size: 30px;

}
header{
    text-align: center;
    padding: 32px;
}
img{
    width: 200px;
}
main{
    background-color: rgb(104, 16, 212);
    padding: 25px;
    margin: 25px auto;
    width: 600px;
    border-radius: 8px;
    color: rgb(244,235,255);
}

ul{
    margin: 0;
    padding: 0;

}

li{
    margin: 14px;
    padding-left: 10px 0;
    list-style: none;
border-left: 5px solid  transparent;
}
.extra-important {
    color: bisque;
    border-color: rgb(255,209,100);
}
.highlight{
    font-weight: bold;
}

footer{
    text-align: center;
    margin: 5px;
    color: rgb(147, 19, 38);
}
footer a{
    padding: 3px 2px;
    border-radius: 3px;
    background-color: rgb(18, 53, 127);
    color: rgba(239, 236, 231, 0.751);
}